[submodule "birthday"]
	path = birthday
	url = https://snovakow@github.com/snovakow/birthday.git
[submodule "bounder"]
	path = bounder
	url = https://snovakow@github.com/snovakow/bounder.git
[submodule "resume"]
	path = resume
	url = https://snovakow@github.com/snovakow/resume.git
[submodule "sudoku"]
	path = sudoku
	url = https://snovakow@github.com/snovakow/sudoku.git
[submodule "sudokulib"]
	path = sudokulib
	url = https://snovakow@github.com/snovakow/sudokulib.git
