body {
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-weight: 300;
	overflow-x: 'visible';
	overflow-y: 'auto';
}

.page {
	left: 96px;
	right: 96px;
	position: absolute;
	top: 96px;
	padding-bottom: 48px;
}

.top {
	display: flex;
	justify-content: space-between;
	/* width: 100%; */
	/* padding-left: 48px;
	padding-right: 48px;
	padding-top: 48px; */
	padding-bottom: 24px;
	overflow: none;
}

.titleArea {
	font-weight: 500;
	margin-right: 24px;
}

.title {
	font-size: 3em;
}

.subtitle {
	font-size: 1.5em;
}

.contact {
	text-align: right;
	font-size: 1em;
	line-height: 1.5em;
	font-weight: 300;
	margin-left: 24px;
}

/* .content {
	position: absolute;
	top: 160px;
	left: 0px;
	 width: 100%; 
} */

.header {
	margin-top: 16px;
	margin-bottom: 8px;
	font-size: 1em;
	font-weight: 600;
	position: relative;
}

.subheader {
	margin-top: 8px;
	margin-bottom: 8px;
	font-size: 1em;
	font-weight: 600;
	position: relative;
}

.paragraph {
	margin-top: 4px;
	margin-bottom: 8px;
	/* text-indent: 48px; */
	font-size: 1em;
	line-height: 1.5em;
	font-weight: 500;
	position: relative;
}

.bulletMain {
	font-size: 1em;
	line-height: 1.5em;
	padding-bottom: 8px;
}

.bulletSub {
	padding-bottom: 8px;
}

.publicationMain {
	/* margin-bottom: 4px; */
	font-size: 1em;
	font-weight: bold;
	text-decoration: underline;
	margin-bottom: 4px;
}

.publicationSub1 {
	font-size: 0.9em;
	line-height: 1.1em;
	font-weight: normal;
	margin-bottom: 4px;
}

.publicationName {
	font-weight: bold;
}

.publicationSub2 {
	font-size: 1em;
	line-height: 1.2em;
}